.home{
  height: 80vh;
  min-height: 80vh;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro{
  text-align: center;
}

.social-icons {
  margin: 1.5rem 0;
}

.avatar{
  height: 6rem;
  color: rgba(255, 187, 0, 0.855);
}

.btn{
  padding: 0.75rem 1.5rem;
  border-radius: $border-radius+1rem;
  &:focus{
    outline: none;
  }
}

/* Animation */
@keyframes btn-push
{
  50%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}

.btn-default{
  background-color: $color-primary;
  color: white;

  display: inline-block;
  &:hover{
    animation-name: btn-push;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}



