$color-white: hsl(252, 30%, 100%);
$color-light: hsl(252, 30%, 92%);
$color-gray: hsl(252, 15%, 65%);
$color-primary: hsl(352, 75%, 60%);
$color-dark: hsl(252, 30%, 17%);

/* Font Family */
$body-font: 'Rubik', sans-serif;

